
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <h1>the fastest way to build your applications</h1>
        <h2>With one click you can have a complete project</h2>
        <div class="d-lg-flex">
          <a href="" class="btn-get-started scrollto">Start Working On Your Project(s)</a>
          <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="../../../assets/MainTemp/img/hero-img.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>
</section><!-- End Hero -->
<main id="main">



  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About Us</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>
            we make development easy for beginners and for those who want to create a project in one minute
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Choose the database type (mongoDB/Mysql)</li>
            <li><i class="ri-check-double-line"></i> Create a database with drag and drop for the tables as well as the foreign Keys</li>
            <li><i class="ri-check-double-line"></i>Choose the Apis that you want to create</li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            in order to have a complete project with nodejs and after creating your database
            you don't need to create them APIs by yourself you just need to
            click in button and in a blink of an eye you have a consistent project ready to use
          </p>
          <a href="#" class="btn-learn-more">Learn More</a>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

          <div class="content">
            <h3> <strong>Terms of use</strong></h3>

          </div>

          <div class="accordion-list">
            <ul>
              <li>
                <a data-toggle="collapse" class="collapse" href="#accordion-list-1"><span>01</span> Choose Data base Type       <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-1" class="collapse show" data-parent=".accordion-list">
                  <p>
                    we offer 2 types of database wish you can create your project based on MongoDB or MySQL
                  </p>
                </div>
              </li>

              <li>
                <a data-toggle="collapse" href="#accordion-list-2" class="collapsed"><span>02</span> build your database <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-2" class="collapse" data-parent=".accordion-list">
                  <p>
                    we offer an option that helps you build your database with drag and drop the tables and link them with their foreign keys                    </p>
                </div>
              </li>

              <li>
                <a data-toggle="collapse" href="#accordion-list-3" class="collapsed"><span>03</span> choose the apis that you want to create <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-3" class="collapse" data-parent=".accordion-list">
                  <p>
                    you have a list of Apis which are: create, delete update, and list you can pick them all or just what you want                    </p>
                </div>
              </li>

              <li>
                <a data-toggle="collapse" href="#accordion-list-4" class="collapsed"><span>04</span>test your application <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-4" class="collapse" data-parent=".accordion-list">
                  <p>
                    we offer a free trial for the project and you can test all your APIs with swagger                    </p>
                </div>
              </li>

              <li>
                <a data-toggle="collapse" href="#accordion-list-5" class="collapsed"><span>05</span>payment with different methods<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-5" class="collapse" data-parent=".accordion-list">
                  <p>
                    you can buy the project with a simple click with a different methods which are blockchain, google pay,PayPal.                  </div>
              </li>

            </ul>
          </div>

        </div>

        <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("../../../assets/MainTemp/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Skills Section ======= -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>technologies used</h2>
      </div>

      <div class="row">
        <div class="col-xl-3 col-md-10 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="50">
          <div class="icon-box">
            <div class="pic"><img src="assets/MainTemp/img/technologies/ang.png" class="img-fluid" alt=""></div>
            <h4><a href="">Angular</a></h4>
          </div>
        </div>
        <div class="col-xl-3 col-md-10 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="50">
          <div class="icon-box">
            <div class="pic"><img src="assets/MainTemp/img/technologies/node.png" class="img-fluid" alt=""></div>
            <h4><a href="">NodeJs</a></h4>
          </div>
        </div>
        <div class="col-xl-3 col-md-10 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="50">
          <div class="icon-box">
            <div class="pic"><img src="assets/MainTemp/img/technologies/mongo.png" class="img-fluid" alt=""></div>
            <h4><a href="">MongoDB</a></h4>
          </div>
        </div>
        <div class="col-xl-3 col-md-10 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="50">
          <div class="icon-box">
            <div class="pic"><img src="assets/MainTemp/img/technologies/sql.png" class="img-fluid" alt=""></div>
            <h4><a href="">MySql</a></h4>
          </div>
        </div>
        <div class="col-xl-3 col-md-10 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="50">
          <div class="icon-box">
            <div class="pic"><img src="assets/MainTemp/img/technologies/docker.png" class="img-fluid" alt=""></div>
            <h4><a href="">Docker</a></h4>
          </div>
        </div>
        <div class="col-xl-3 col-md-10 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="50">
          <div class="icon-box">
            <div class="pic"><img src="assets/MainTemp/img/technologies/swagger.png" class="img-fluid" alt=""></div>
            <h4><a href="">Swagger</a></h4>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->



  <!-- ======= Portfolio Section ======= -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Team</h2>
      </div>

      <div class="row">

        <div class="col-lg-6">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
            <div class="pic"><img src="../../../assets/MainTemp/img/team/rafik.png" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Rafik Mastouri</h4>
              <span>fullStack developer</span>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
            <div class="pic"><img src="../../../assets/MainTemp/img/team/salem.png" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Salem Affes</h4>
              <span>DevOps Manager</span>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
            <div class="pic"><img src="../../../assets/MainTemp/img/team/aziz.png" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Aziz Arfaoui</h4>
              <span>FullStack developer</span>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
            <div class="pic"><img src="../../../assets/MainTemp/img/team/ilyes.png" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Ilyess Aouini</h4>
              <span>BlocKChain Manager</span>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Team Section -->



  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Frequently Asked Questions</h2>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">Can I pay in a different way ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
              <p>
                hello in order to buy your project you have 3 options paypal blockchain and google pay                </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">what are the main methods in your application ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-parent=".faq-list">
              <p>
                hello
                the main methods are Create,Update,listAll,Delete,GetById :)
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">hay I wonder if there is a blog where I can ask a technical questions? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-parent=".faq-list">
              <p>
                Yes, we have a for which you can post your question and find answers to all your question.
              </p>
            </div>
          </li>



        </ul>
      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contact</h2>
      </div>

      <div class="row">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="icofont-google-map"></i>
              <h4>Location:</h4>
              <p>Esprit ariana soghra tunisie</p>
            </div>

            <div class="email">
              <i class="icofont-envelope"></i>
              <h4>Email:</h4>
              <p>weriseapps@gmail.com</p>
            </div>

            <div class="phone">
              <i class="icofont-phone"></i>
              <h4>Call:</h4>
              <p>+216 27897522</p>
            </div>

          </div>

        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3190.6865556603243!2d10.187604214986836!3d36.897846069897234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e2cb745e5c6f1b%3A0xf69a51ee3c65c12e!2sEsprit%20School%20of%20Business!5e0!3m2!1sen!2stn!4v1622937934644!5m2!1sen!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->
